In [2]:
import pandas as pd 

df = pd.read_csv("Gender_Data.csv")
df

   Gender  Total_Cases  Total_ICU_Admissions  Total_Deaths
0    Male       288507                  3582          6657
1  Female       319641                  1411          5771