In [3]:
# 1

import pandas as pd 

df = pd.read_csv("National_Daily_Deaths.csv", encoding="ISO-8859-1", header=1) 
df

     2020-03-11   1
0    2020-03-12   0
1    2020-03-13   1
2    2020-03-14   1
3    2020-03-15   2
4    2020-03-16   2
..          ...  ..
332  2021-02-07  16
333  2021-02-08  14
334  2021-02-09   5
335  2021-02-10   3
336  2021-02-11   1

[337 rows x 2 columns]

In [ ]:
import matplotlib.pyplot as plt 

x=